.gallery img {
    width: 100rem;
    height: 80rem;
    object-fit: cover;
  }

  .svg-container {
    width: 8rem; 
    height: 8rem; 
  }
  
  .svg-container svg {
    width: 100%; 
    height: 100%; 
  }